<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Домашнее задание 1</title>
    <style>
        table, tr, td{
            text-align: center;
            border: 1px solid red;
            border-collapse: collapse;
            padding: 5px;
        }

        img {
            width: 150px;
            height: 180px;
        }
        .count-users {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div id="app">
        <button type="button" v-on:click="toggle">
                Cкрытия/отображения пользователей
        </button>
                <table v-if="visible">
                    <caption>Лучшие участники ЧМ-2018. Общее количество: <span class="count-users">{{ countUsers() }}</span></caption>
                    <thead>
                        <td>Фото</td>
                        <td>Фамилия</td>
                        <td>Имя</td>
                        <td>Отчество</td>
                    </thead>
                    <tbody v-for="item in users" v-bind:key="item.surname">
                        <td>
                            <div v-if="item.image">
                                <img v-bind:src="item.image" alt="Фото пользователя">
                            </div>
                            <div v-else>
                                    Нет фото
                            </div>
                        </td>
                        <td>{{item.surname}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.patronymic}}</td>
                    </tbody>
                </table>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    window.app = new Vue({
        el: '#app',
        data: function () {
            return {
                visible:true,
                users: []
            }
        },

        mounted: function () {
            this.loadUser();
        },

        methods: {
            countUsers: function () {
                return this.users.length;
            },
            loadUser: function () {
                this.users = [
                    {name:'Станислав ', patronymic:'Саламович', surname:'Черчесов', image:'image/Cherchesov.jpg'},
                    {name:'Игорь', surname:'Акинфеев', patronymic:'Владимирович', image:'image/Akinfeev.jpg'},
                    {name:'Сергей', surname:'Игнашевич', patronymic:'Николаевич', image:''},
                    {name:'Саша', surname:'Головин', patronymic:'Павлович', image:'image/Golovin.jpg'},
                    {name:'Ден', surname:'Черышев', patronymic:'Дмитриевич', image:'image/Cheryshev.jpg'} 
                ]
            },
            toggle: function () {
                this.visible = !this.visible;
            }
        }
    })
    
    </script>
</body>
</html>